body
{
	background-color: black;
	margin: 0px;
}
div
{
	color: white;
	padding-left: 20%;
	padding-right: 20%;
    font-family: 'Roboto', sans-serif;
}
.img1
{
	padding: 14px;
	float: left;
	width: 300px;
}
.img2
{
	padding: 14px;
	float: right;
	width: 300px;
}
